@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@300&family=Ubuntu:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #213363;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #17594A;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 40px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #D3D04F;
    color: black; /*Esto no está incluido en la clase original, pero ayuda en la visualización del nombre*/
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #17594A;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 100px;
    color: white;
}

#mensajes {
    width: 280px;
    background: #8EAC50;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    background-color: transparent; /*Esto no estaba en el código original, solo que la profesora no lo aplica porque su fondo es del mismo color del botón.*/
    color: #213363;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataque {
        flex-direction: column;
    }
}
/*
Combinación de colores seleccionados: 213363, 17594A, 8EAC50, D3D04F
*/