@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@300&family=Ubuntu:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #213363;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #17594A;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 40px;
}

input {
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #17594A;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 100px;
    color: white;
}
/*
Combinación de colores seleccionados: 213363, 17594A, 8EAC50, D3D04F
*/